<file-modal *ngIf="items" [items]="items" [file]="file" [fileName]="fileName"></file-modal>

<div class="card ">
  <div class="card-header">{{ titulo }}</div>
  <div class="card-body">
    <form >
      <div class="input-group mb-3">
       <div class="custom-file ">
         <input (change)="selectFile($event)" type="file" class="custom-file-input"
         accept=".csv" id="customFileLang" aria-describedby="inputGroupFileAddon04"
         #fileImportInput>
         <label class="custom-file-label" for="customFileLang">{{fileName}}</label>
       </div>
       <div class="input-group-append">
         <button (click)="readHeader()" [disabled]="!file" class="btn btn-outline-secondary"
           type="button" id="inputGroupFileAddon04">Subir</button>
       </div>
     </div>
    </form>
    
  </div>
</div>
