<div class="card border-primary mb-3">
  <div class="card-header">Incidentes</div>
  <div class="card-body text-primary">
    <h5 class="card-title">Listado de incidentes</h5>
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Type</th>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let incident of incidents">
          <th scope="row">{{incident.id}}</th>
          <td>{{incident.type}}</td>
          <td>{{incident.startTime}}</td>
          <td>{{incident.endTime}}</td>
        </tr>
      </tbody>
    </table>
      <paginator-nav *ngIf="paginador" [paginador] = "paginador"></paginator-nav>
  </div>
</div>
